@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Currency Manager</h1>
    <p> Currency Manager application (2 stateful, 1 stateless services) with Service Fabric</p>
</div>
